div#left-column {
    flex: 1 1 400px;
    padding: 5em;
    line-height: 1.5em;
    justify-content: center;
    font-family: fantasy;
    background: skyblue;
  }
h1 {
    justify-content: center;
}